@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Kaushan+Script&display=swap');

/* 
--main-color1:#092341;
--main-color2:#334559;
--main-color3:#6190C0;
--main-color4:#7C9EC0;
--main-color5:#D4DCE6;
--main-color6:#D1D4D6;
--grey-color1:#8C8E91;
--grey-color2:#918C8C;
--grey-color3:#B8B1B1;
--white-color1:#fff;
--white-color2:#d9d9d9;
--red-color:#FB0B0B;
--green-color:#078B33;

--text-color1:#fff;
--text-color2:#092341;
--text-color3:#000;

--main-border-radius:8px;
--secondary-border-radius: 8px 8px 0px 0px;
*/

:root {
    /* v2 colors */
    --main-color1:#092341;
    --main-color2:#334559;
    --main-color3:#6190C0;
    --main-color4:#6190c03a;
    --main-color5:#7C9EC0;
    --main-color6:#D4DCE6;
    --main-color7:#D1D4D6;
    --grey-color1:#8C8E91;
    --grey-color2:#918C8C;
    --grey-color3:#B8B1B1;
    --white-color1:#fff;
    --white-color2:#d9d9d9;
    --red-color:#FB0B0B;
    --green-color:#078B33;

    --text-color1:#fff;
    --text-color2:#092341;
    --text-color3:#000;

    --main-border-radius:8px;
    --secondary-border-radius: 8px 8px 0px 0px;

    /* font-size */
    --font-size1:16px;
    --font-size2:20px;
    --font-size3:24px;
    --font-size4:32px;
    --font-size5:36px;
    --font-size6:40px;
    --font-size7:48px;

/* old colors */
  --color1: #f1f2ce;
  --color2: #d1b4a2;
  --color3: #a9767a;
  --color4: #371f1f;
  --color5: #92394b;
  --color6: #4e3434;
  --color7: #bcbcbc;
  --color8: #9c7c5b;
  --color9: #951a07;
  --color10: #fc2424;
  --color11: #ea1008;
  
  --btn-bg-color-gradient: linear-gradient(
    45deg,
    #fc2424 0%,
    #ea1008 30%,
    #951a07 70%,
    transparent 100%
  );
  --btn-bg-color: var(--color8);
  --btn-bg-hover-color: var(--color2);
  --btn-text-color:var(--color9);
  --btn-sec-bg-color:var(--color9);
  --btn-sec-bg-hover-color:var(--color11);
  --btn-sec-text-color:var(--color1);
  --header-bg-color-gradient: linear-gradient(
    -45deg,
    #f1f2ce 0%,
    #d1b4a2 20%,
    #9c7c5b 40%,
    #805c38 60%,
    #371f1f 80%
  );
  --text-color: #fff;

  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Quicksand", serif;
  --logo-font:"Kaushan Script", cursive;
  --slogan-font:"Google Sans Code", monospace;

  scroll-behavior: smooth;
}

*{
    font-family: var(--secondary-font);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* keyframes */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


@keyframes wiggle {
    0%{
        transform: rotate(0);
    }
    15%{
        transform: rotate(-15deg);
    }
    20%{
        transform: rotate(10deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(10deg);
    }
    35%{
        transform: rotate(-10deg);
    }
    40%,100%{
        transform: rotate(0);
    }
}

  /* Custom Scroll */

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}