@import url("../global.css");

.container{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/logoSitema/Logo-Grande-Cinza.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center right 100px;
}