@import url("../global.css");



.body h1{
    font-size: 3rem;
    color: var(--color4);
    margin-bottom: 0.5rem;
}

.search-container{
    width: 100%;
}

.search-container p{
    font-size: 1.5rem;
}

.search-container p strong{
    font-size: 1.3rem;
}


.credito{
    color:green;
}

.debito{
    color:var(--color6)
}

.inativo{
    color:gray;
    font-weight: 100;
    text-decoration: line-through;
}

.editar{
    font-weight: 600;
}

.editar:hover{
    color:var(--color11);
    cursor: pointer;
    text-decoration: underline;
    font-size: larger;
}
  
.main-content table td{
    padding: 1px 5px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; /* ajuste conforme seu layout */
}

.sugestoes {
    position: absolute;
    list-style: none;
    padding: 0;
    background: var(--color1);
    border: 1px solid var(--color3);
    max-height: 200px;
    width: 250px;
    overflow-y: auto;
    z-index: 10;
}

.sugestoes li {
    padding: 5px;
    cursor: pointer;
}

.sugestoes li:hover {
    background-color: #ddd;
}

.total-saldo {
    margin: 20px;
    align-self: flex-start;
}

.total-saldo h3{
    font-size: 2rem;
}


