@import url("../global.css");

.header {
    /* background: var(--header-bg-color-gradient); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 1.5rem;
  }
  
  .logo {
    width: 100%;
  }
  