@import url("../global.css");

.header {
    /* background: var(--header-bg-color-gradient); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 1.5rem;
    background-color: antiquewhite;

  }
  
  .logoCliente {
    width: 50%;
    margin: 0.5rem 1.5rem;
    border-radius: 16px;
    box-shadow: 1px 1px 16px 3px rgba(0,0,0,0.71);
  }

  .logoSistema{
    width: 40%;
    background-color: bisque;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1rem;
    margin: 0.5rem 1.5rem;
    margin-right: 3rem;
    border-radius: 16px;
    box-shadow: 1px 1px 16px 3px rgba(0,0,0,0.71);
      /* -webkit-box-shadow: 10px 10px 28px 9px rgba(0,0,0,0.71);
      -moz-box-shadow: 10px 10px 28px 9px rgba(0,0,0,0.71); */
  }
  
  .nomeSistema{
    font-size: 5rem;
    font-family: var(--logo-font);
    text-align: center;
  }

  .sloganSistema{
    text-transform: capitalize;
    text-align: center;
    font-family: var(--slogan-font);
  }